@import './utils/typography';
@import './utils/spacing';
@import './utils/mixins';
@import './utils/input';
@import './utils/responsiveness';

.MuiButton-label {
  text-transform: none !important;
}

.border-primary {
  border: 1px solid #fa4a84 !important;
}

.bg-primary {
  background:#fa4a84 !important;
}

.MuiAccordion-root {
  background-color: transparent;
  border-radius: 6px !important;
  border: 1px solid transparent;
  box-shadow:0 0 2px rgba(131, 151, 171, 0.24), 0 4px 8px rgba(131, 151, 171, 0.24) !important;
}

.MuiAccordion-root:before {
  background-color: transparent !important;
}