$white-pallet: (normal: #fff, light: #FDFDFD, dew: #E6FEF1);
$black: #16171a;
$primary-pallet: (normal: #1763dd, dark: #264de1, black: #0B4BB1);
$lightblack: #333;
$green-pallet: (dark: #041705, light: #1DBF69);
$gray-pallet: (normal: #eee, less: #5d5d5d, dim: #FBFCFE);