// import muli font here
@import url(//fonts.googleapis.com/css?family=Muli%3A300%2C400%2C400i%2C500%2C600%2C700%2C800&amp;display=swap&amp;ver=6bf7d9fac0ec26ca6de6da02d1c1de05);

$fontsizes: (11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30);


// font-size
@each $fontsize in $fontsizes {
  .fs-#{$fontsize} {
    font-size: #{$fontsize}px !important;
  }

}

// reset fonts
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased !important;
}

@font-face {
  font-family: 'BRFirm Bold';
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/BRFirmaBold.woff");
}

@font-face {
  font-family: 'BRFirm Medium';
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/BRFirmaMedium.woff");
}

@font-face {
  font-family: 'BRFirm Regular';
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/BRFirmaRegular.woff");
}