@import "./assets/scss/custom.scss";

body, html {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: BRFirm Regular,sans-serif;
  box-sizing: border-box !important;
}

* {
  box-sizing: border-box !important;
}

.MuiLinearProgress-colorPrimary {
  background-color: #EEEFF7 !important;
}

.MuiLinearProgress-barColorPrimary {
  background-color: #FFCF56 !important;
}
